*#
*.eventlog
*.hi
*.hp
*.o
*.orig
*.tix
*~
.#*
.*.swp
.hpc/*
Setup
Setup.exe*
TAGS
autom4te.cache
benchmarks/IntMap
benchmarks/NoPush.hs
benchmarks/PSQ
benchmarks/Simple
benchmarks/dead-conn
benchmarks/deadconn
benchmarks/event-http
benchmarks/pong-server
benchmarks/simple
benchmarks/static-http
benchmarks/thread-delay
benchmarks/timers
config.log
config.mk
config.status
configure
dist/*
include/EventConfig.h
include/EventConfig.h.in
strace.out
tests/tests
