*~
*#
.#*
autom4te.cache
benchmarks/PSQ
benchmarks/Simple
config.log
config.mk
config.status
configure
dist/*
.hpc/*
include/EventConfig.h
include/EventConfig.h.in
.*.swp
*.hi
*.o
Setup.exe*
Setup
TAGS
*.tix
